[Unit]
Description=Create /tmp/hello file
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/sample

[Install]
WantedBy=default.target
